.container {
  text-align: center;
  display: grid;
  /* grid-template-columns: 200px 200px 200px; */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
  margin: 0 auto;
  width: 60%;
}

.container div {
  border: 1px solid blue;
  padding: 30px;
  color: blue;
  background-color: aqua;
}

.container div:nth-child(even) {
  background-color: orange;
}

.text {
  /* grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4; */
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
